<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>F08</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <div id="app" class="container">
      <h1>Castelos de Portugal</h1>
      <form @submit.prevent="addCastle">
        <div class="row" >
          <div class="col">
            <input
              v-model="form.name"
              type="text"
              class="form-control"
              placeholder="name"
              required
            />
          </div>
          <div class="col">
            <input
              v-model="form.link"
              type="url"
              class="form-control"
              placeholder="photo link"
              required
            />
          </div>
          <div class="col">
            <input
              v-model="form.year"
              type="number"
              class="form-control"
              placeholder="year"
              required
            />
          </div>
        </div>
        <br />
        <button type="submit">Adicionar castelo</button>
      </form>
      <br />
      <dialog id="editCastleDialog">
        <form @submit.prevent="updateCastle" method="dialog">
          <div class="row">
            <div class="col">
              <input
                v-model="form.editName"
                type="text"
                class="form-control"
                placeholder="nome"
              />
            </div>
            <div class="col">
              <input
                v-model="form.editLink"
                type="url"
                class="form-control"
                placeholder="link"
              />
            </div>
            <div class="col">
              <input
                v-model="form.editYear"
                type=""
                class="form-control"
                placeholder="ano"
              />
            </div>
            <input v-model="form.editId" type="hidden" />
          </div>
          <br />
          <button type="submit">Gravar</button>
          <button>Fechar</button>
        </form>
      </dialog>
      <br />
      <span v-if="this.castles.length === 0"> Não existe castelos</span>
      <div v-else>
      Procura por nome do castelo
      <input v-model="form.filterName" type="text" class="form-control" />
      <button @click="orderByCastle">Filtrar por nomes</button>
        <br>
        <br>
      <!-- Array manipulation -->
      <span>Array Manipulation</span>
      <div class="alert alert-primary" role="alert">
        <button class="btn btn-praimary btn-sm" @click="manipulateArray('ei')">Retirar castelo do nome</button>
        <button class="btn btn-praimary btn-sm" @click="manipulateArray('eii')">Calcular data</button>
        <button class="btn btn-praimary btn-sm" @click="manipulateArray('eiii')">Procurar castelo do Marvão </button>
        <button class="btn btn-praimary btn-sm" @click="manipulateArray('eiv')">Todos os castelos começados por A </button>
        <button class="btn btn-praimary btn-sm" @click="manipulateArray('evii')">Retorna Castelo de Santa Maria da Feira </button>
        <button class="btn btn-praimary btn-sm" @click="manipulateArray('eviii')">Castelo de Arraiolos</button>
        <button class="btn btn-praimary btn-sm" @click="manipulateArray('fi')">Retorna todos os castelos com "-" </button>
        <button class="btn btn-praimary btn-sm" @click="manipulateArray('fii')">Castelos que foram construidos depois de 1950 </button>
        <button class="btn btn-praimary btn-sm" @click="manipulateArray('fiii')">Limpar todos os links de todos os castelos criados antes de 1900 </button>
        <button class="btn btn-praimary btn-sm" @click="manipulateArray('fiv')">Somar 5 anos a castelos que comecem com vogal </button>
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th >Name</th>
            <th> Ano </th>
            <th >Foto</th>
            <th>Opcões</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="castle in filteredCastles">
            <td scope="row">{{ castle.id }}</td>
            <td>{{ castle.name }}</td>
            <td>{{castle.year}}</td>
            <td><img :src="castle.link " ></td>
            <td>
              <button @click="editCastle(castle.id)">Editar</button>
              <button @click="removeCastle(castle.id)">Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </body>

  <script src="/F08EX01.js"></script>
</html>
